@charset "UTF-8";

ol,
ul {
  margin: 20px 0;
  padding-left: 0;
}

//Unordered lists
ul {
  list-style-type: none;
  
  li:before {
    content: '';
    margin-right: 10px;
  }
  
  ul {
    margin-left: 20px;
  }
}
