@charset "UTF-8";

.site-footer {
  border-top: none;
  
  h2 {
    font-size: 2rem;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    
    a {
      margin: 0 2rem;
    }

    @media screen and (max-width: 600px) {
    justify-content: space-around;
      
      a {
        margin: 0;
      }
    }
    
  }
  
}